* {
  margin: 0;
  padding: 0;
}


/* Utilizar 100% da tela */

html,
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  width: 100%;
  height: 100%;
}


/* Separando a tela em duas partes */

section {
  display: flex;
  flex: 1;
}

.first-section {
  background: #07396C;
  flex: 0 0 60%;
  display: flex;
}

.second-section {
  
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}


/* First section */

.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.logo-sapiens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo-sapiens img {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 500px;
  width: auto;
  height: auto;
  flex: 1;
}

.white-line {
  background: white;
  height: 0.5px;
  width: 80%;
  display: flex;
  margin-top: 50px;
}

.logos {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logos img {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.logos img:first-child {
  max-width: 300px;
  max-height: 250px;
  margin-top: 20px;
  margin-right: 20%;
}


/*  Ajustar imagem */

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

img {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
}


/* Texto Sapiens */



h3 {
  color: #07396C;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* label */

label {
  display: none !important;
}

/* Inputs */

.input-container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.input-container p {
  margin: 0px  0px 20px 0px;
  color: #444;
  font-size: clamp(0.8em, 1vw, 2em);
  /* font-weight: 600; */
  text-align: justify;
  
}

input {
  background: #EFF0F6;
  border: none;
  outline: 0;
  margin-bottom: 10px;
  padding: 20px;
  flex: 1;
  color: #07396C;
  font-weight: 600;
  font-size: 16px
}

::-webkit-input-placeholder {
  color: #A8A8AB;
  font-size: 17px;
  font-weight: 600;
}

.forgot-password {
  text-decoration: none;
  color: #07396C;
  font-size: 15px;
  float: right;
}

button {
  border: none;
  outline: 0;
  width: 100%;
  background: #DFAE25;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  padding: 15px;
}


/*  Footer */

.footer {
  display: flex;
  justify-content: center;
}

.footer-text {
  text-decoration: none;
  color: #07396C;
  font-weight: 600;
  position: absolute;
  bottom: 50px;
  font-size: clamp(0.8em, 1vw, 1em);
}

.yellow-color {
  color: #DFAE25;
  text-decoration:none;
  font-weight: 600;
}




/* Ajustar para telas menores */

@media (max-width: 768px) {
  .first-section {
      display: none;
  }
}

@media (max-width: 320px) {
  input,
  button {
      font-size: 13px;
      padding: 10px 15px;
  }
   ::-webkit-input-placeholder {
      font-size: 13px;
  }
  img {
      max-width: 150px;
      max-height: 100px;
  }
  .logo-container {
      margin-bottom: 0.5rem;
  }
  h3 {
      font-size: 10px;
  }
}

@media (max-width: 414px) {
  input,
  button {
      font-size: 14px;
      padding: 15px 20px;
  }
   ::-webkit-input-placeholder {
      font-size: 14px;
  }
  img {
      max-width: 150px;
      max-height: 100px;
  }
  .logo-container {
      margin-bottom: 0.5rem;
  }
  h3 {
      font-size: clamp(1em, 2vw, 1em);
  }
  .footer-text {
      bottom: 5px;
  }
}

@media (max-height: 650px) {
  .footer-text {
      bottom: 5px;
  }
}

@media (min-height: 768px) {
  .logo-container {
      
      display: none;
  }
  .container p {
      margin: 0px  80px 20px 80px;
  }
  .second-section {
      margin-top: 30px;
  }
  form {
      margin: 0px  80px 0px 80px;
  }
}