
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Entrar</title>
</head>

<body>
    <section class="first-section">
        <div class="first-container">
            <div class="logo-sapiens">
                <img src="{% static 'images/logo-10anos.png' %}" alt="logo 10 anos">
            </div>
            <div class="white-line"></div>
            <div class="logos">

                <img src="{% static 'images/logo-50anos-padronizada.png' %}" alt="logo unipe 50 anos">
                <img src="{% static 'images/logo-fabrica-padronizada.png' %}" alt=" logo fabrica de software">
            </div>
        </div>



    </section>

    
    <section class="second-section">
        <div class="container">
            <div class="logo-container">
                <img src="{% static 'images/original_aniversario.png' %}" alt="Logo">
            </div>

            <form method="POST">
                {% csrf_token %}
                <h3>SAPIENS</h3>
                <div class="input-container">
                   
                    {{ form}}
                    <!--<p>{{form.remember }}  <span> Me mantenha conectado</span></p>--> 
                    
                    <p>
                        <a href=" {% url 'account_reset_password' %}" class="forgot-password">Esqueceu a senha?</a>
                    </p>
                </div>
                <button type="submit">Entrar</button>
            </form>

            <p class="footer">
                <a href="{% url 'account_signup' %}" class="footer-text">Não tem uma conta?  <span class="yellow-color"> Cadastre-se</span>
                </a>
            </p>
        </div>
    </section>
</body>
</html>
