{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar senha</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static 'css/changepassword1.css' %}">
</head>

<body>
    <section class="first-section">
        <div class="first-container">
            <div class="logo-sapiens">
                <img src="{% static 'images/logo-10anos.png' %}" alt="logo 10 anos">
            </div>
            <div class="white-line"></div>
            <div class="logos">

                <img src="{% static 'images/logo-50anos-padronizada.png' %}" alt="logo unipe 50 anos">
                <img src="{% static 'images/logo-fabrica-padronizada.png' %}" alt=" logo fabrica de software">
            </div>
        </div>



    </section>

    <section class="second-section">
        <div class="container">
            <div class="logo-container">
                <img src="{% static 'images/original.png' %}" alt="Logo">
            </div>

            
                <h3>Alterar senha</h3>
                <div class="input-container">
                    <p>Um e-mail foi enviado, por favor contate-nos caso não o receba nos próximos minutos.</p>
                

                <a href="https://wa.me/message/44GXA6IAP4MOL1">
                    <button type="button">Contate-nos</button>
                </a>
                </div>
            <p class="footer">
                <a href="{% url 'account_signup' %} " class="footer-text">Não tem uma conta?  <span class="yellow-color"> Cadastre-se</span></a>
            </p>

        </div>
    </section>



</body>

</html>
