{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar senha</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static 'css/changepassword1.css' %}">
</head>

<body>
    <section class="first-section">
        <div class="first-container">
            <div class="logo-sapiens">
                <img src="{% static 'images/logo-10anos.png' %}" alt="logo 10 anos">
            </div>
            <div class="white-line"></div>
            <div class="logos">

                <img src="{% static 'images/logo-50anos-padronizada.png' %}" alt="logo unipe 50 anos">
                <img src="{% static 'images/logo-fabrica-padronizada.png' %}" alt=" logo fabrica de software">
            </div>
        </div>
    </section>

    <section class="second-section">
        <div class="container">
            <div class="logo-container">
                <img src="{% static 'images/original.png' %}" alt="Logo">
            </div>

            <h3>Alterar senha</h3>
            {% if token_fail %}
                <div class="input-container">
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>OOOPS... O link de alteração de senha não é mais válido. Por favor, requisite novamente a<a href="{{ passwd_reset_url }}"><span class="yellow-color"> alteração de senha</span></a></p>
                </div>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        
                        <div class="input-container">
                            {% csrf_token %}
                            {{ form.password1 }}
                            {{ form.password2 }}
                        </div>

                        <button type="submit">Alterar Senha</button>
                    </form>
                {% else %}

                    <div class="input-container">
                        <p>Sua conta já foi Alterada</p>
                    </div>
                {% endif %}
            {% endif %}
            
            <p class="footer">
                <a href="% url 'account_signup' %} " class="footer-text">Não tem uma conta?  <span class="yellow-color"> Cadastre-se</span></a>
            </p>

        </div>
    </section>
</body>
</html>

