{%load static%}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">


    <link rel="stylesheet" href="{% static 'css/apoiadores.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    
    <title>Apoiadores</title>
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <a href="{% url 'menu' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
                </div>
                <ul class="nav-links">
                    <li class="principal"><a href="{% url 'menu' %}">Início</a></li>
                    
                    <li class="principal"><a href="{% url 'programacao' event.slug %}">Programação</a></li>
                    <li class="principal"><a>Aglomeração de Saberes</a>
                        <ul>
                            {% for room in rooms %}
                                {% if room.slug != 'sapiens-familia' %}
                                    <li class="hover submenu"><a href="{% url 'days' event.slug room.slug %}">{{room.name}}</a></li>
                                {%endif%}
                            {% endfor %}
                            <li class="hover submenu"><a href="{% url 'apoiadores' event.slug %}">Equipe Apoiadora</a></li> 
                        </ul>
                    </li>
                    <li class="principal"><a>Do Tempo do Ronca</a>
                        <ul>
                            <li class="hover submenu"><a href="{% url 'historia' event.slug %}">História</a></li>
                            <li class="hover submenu"><a href="{% url 'edicoes_sapiens' event.slug %}">Edições Sapiens</a></li>
                            <li class="hover submenu"><a href="{% url 'padlet' event.slug 'dois' 'mural' %}">Edição Atual</a></li>
                        </ul>
                    </li>
                    <li class="principal"><a href="{% url 'days' event.slug 'sapiens-familia' %}">Sapiens Família</a></li>  
                    <li class="principal"><a href="{% url 'desopilar' event.slug %}">Bora Desopilar?</a></li>
                     
                    <li class="principal"><a>{{user_name}}</a>
                        <ul>
                            
                            <li class="hover submenu"><a href="{% url 'account_reset_password' %}">Redefinir senha</a></li>
                            <li>
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button class="hover botao" type="submit">Sair</button>
                                </form>
                            </li>
                            {% if request.user.is_superuser %}
                                <li class="hover submenu"> <a href="http://sapiens10anos.unipe.edu.br/admin/">Sala do Administrador</a></li>
                            {% endif %}
                            
                        </ul>
                    </li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
    </header>
    
    <!--Palestrantes -->
    <div class="team-container">

        <p class="team">Equipe de Palestrantes</p>
        <div class="line"></div>
    </div>
    <div class="wrapper-flex">


        <div class="container">
            <a href="mailto:acscocuglia@gmail.com">
                <img src="{% static 'images/apoiadores/acscocuglia@gmail.com.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof Dr. Afonso Celso Scocuglia</p>

            </div>
        </div>

        <div class="container">
            <a href="mailto:mmasetto@gmail.com">
                <img src="{% static 'images/apoiadores/mmasetto@gmail.com.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof Dr. Marcos Tarciso Masetto</p>

            </div>
        </div>

        <div class="container">
            <a href="https://www.instagram.com/ecohabitare/">
                <img src="{% static 'images/apoiadores/@ecohabitare.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Profª Cláudia Passos Sant'Anna</p>

            </div>
        </div>

        <div class="container">
            <a href="http://www.celsovasconcellos.com.br/">
                <img src="{% static 'images/apoiadores/www.celsovasconcellos.com.br.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Dr. Celso dos Santos Vasconcellos</p>

            </div>
        </div>

        <div class="container">
            <a href="mailto:paulo.padilha@paulofreire.org">
                <img src="{% static 'images/apoiadores/paulo.padilha@paulofreire.org.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Dr. Paulo Roberto Padilha</p>

            </div>
        </div>

        <div class="container">
            <a href="https://apartilhadavida.com.br/">
                <img src="{% static 'images/apoiadores/www.apartilhadavida.com.br.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Dr. Carlos Rodrigues Brandão</p>

            </div>
        </div>

        <div class="container">
            <a href="mailto:moran10@gmail.com">
                <img src="{% static 'images/apoiadores/moran10@gmail.com.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Dr. José Manoel Moran</p>

            </div>
        </div>

        <div class="container">
            <a href="mailto:moran10@gmail.com">
                <img src="{% static 'images/apoiadores/@ecohabitare (1).jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Mestre José Pacheco</p>

            </div>
        </div>

        <div class="container">
            <a href="https://www.instagram.com/lecopsilab/">
                <img src="{% static 'images/apoiadores/@lecopsilab.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Dr. Luiz Carlos Serramo Lopez</p>

            </div>
        </div>

        <div class="container">
            <a href="https://www.instagram.com/miguelmaestre_yoga/">
                <img src="{% static 'images/apoiadores/@miguelmaestre_yoga.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Esp.  Professor Miguel Maestre</p>

            </div>
        </div>

        <div class="container">
            <a href="https://www.instagram.com/professordinho28/">
                <img src="{% static 'images/apoiadores/@professordinho28.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Esp. Nysherdson Fernandes de Barros</p>

            </div>
        </div>

        <div class="container">
            <a href="https://www.instagram.com/ana_patchy/">
                <img src="{% static 'images/apoiadores/@ana_patchy.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Profª Esp. Ana Patrícia Gomes Clementino</p>

            </div>
        </div>

        <div class="container">
            <a href="mailto:patricia.leite@cruzeirodosul.edu.br">
                <img src="{% static 'images/apoiadores/patricia.leite@cruzeirodosul.edu.br.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Profª Dra. Patrícia Di Lório</p>

            </div>
        </div>

        <div class="container">
            <a href="mailto:julianasaboia@cesuca.edu.br">
                <img src="{% static 'images/apoiadores/julianasaboia@cesuca.edu.br.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof.ª  Ma. Juliana Saboia</p>

            </div>
        </div>

        <div class="container">
            <a href="https://www.instagram.com/prof_luizgomes/">
                <img src="{% static 'images/apoiadores/@prof_luizgomes.jpeg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Dr. Luiz Gomes da Silva Filho</p>

            </div>
        </div>

        <div class="container">
            <a href="https://www.instagram.com/celsompadilha/">
                <img src="{% static 'images/apoiadores/@celsompadilha.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Me. Celso Machado Maia Padilha</p>

            </div>
        </div>

        <div class="container">
            <a href="https://www.instagram.com/dpansarelli/">
                <img src="{% static 'images/apoiadores/@dpansarelli.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Professor Dr. Daniel Pansarelli</p>

            </div>
        </div>

        <div class="container">
            <a href="mailto:gilsonportouft@gmail.com">
                <img src="{% static 'images/apoiadores/gilsonportouft@gmail.com.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Dr. Francisco Gilson Rebouças Pôrto Junior</p>

            </div>
        </div>

        <div class="container">
            <a href="mailto:ginapompeu@unifor.br">
                <img src="{% static 'images/apoiadores/gina_vidal.jpeg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Profª Dra. Gina Vidal Marcílio Pompeu</p>

            </div>
        </div>

        <div class="container">
            <a href="https://www.instagram.com/edufinanceiraprobex/">
                <img src="{% static 'images/apoiadores/@edufinanceiraprobex.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Dr. Wenner Glauco Lopes Lucena</p>

            </div>
        </div>
        <div class="container">
            <a href="mailto:ivnasoares@gmail.com">
                <img src="{% static 'images/apoiadores/ivnasoares@gmail.com.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Dra. Ivna Tamara Soares Toscano</p>

            </div>
        </div>
        <div class="container">
            <a href="mailto:danielgomestorquato@hotmail.com">
                <img src="{% static 'images/apoiadores/danielgomestorquato@hotmail.com.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Esp. Daniel Gomes Torquato</p>

            </div>
        </div>
    </div>


    <!--Equipe de qualidade -->
    <div class="team-container">

        <p class="team">Equipe de Qualidade da X Sapiens</p>
        <div class="line"></div>
    </div>
    <div class="wrapper-flex">

        <div class="container">
            
                <img src="{% static 'images/equipe_qualidade/arthurlima.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Assessor Acadêmico - Arthur Lima</p>
                
            </div>
        </div>
        <div class="container">
            
                <img src="{% static 'images/equipe_qualidade/AndreaCarlaBrandaodaCostaSantos.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Profª Dra. Andrea Carla Brandão da Costa Santos</p>
                
            </div>
        </div>
        <div class="container">
            
                <img src="{% static 'images/equipe_qualidade/AntonioAlbuquerqueToscanoFilho.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Dr. Antônio Albuquerque Toscano Filho</p>
                
            </div>
        </div>
        <div class="container">
           
                <img src="{% static 'images/equipe_qualidade/cristianodaFonsecaRodrigues.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Esp. Cristiano da Fonseca Rodrigues</p>
                
            </div>
        </div>
        <div class="container">
            
                <img src="{% static 'images/equipe_qualidade/erikaAranhaFernandesBarbosa.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Profª Esp. Érika Aranha Fernandes Barbosa</p>
                
            </div>
        </div>
        <div class="container">
            
                <img src="{% static 'images/equipe_qualidade/HebeJanaynaMotaDuarteBeserra.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Profª Ma. Hebe Janayna Mota Duarte Beserra</p>
                
            </div>
        </div>
        <div class="container">
            
                <img src="{% static 'images/equipe_qualidade/MarianadeBritoBarbosa.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Profª Dra. Mariana de Brito Barbosa</p>
                
            </div>
        </div>
        <div class="container">
            
                <img src="{% static 'images/equipe_qualidade/CharleneNayanaNunesAlvesGouveia.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Profª Dra. Charlene Nayana Nunes Alves Gouveia</p>
                
            </div>
        </div>
        <div class="container">
            
                <img src="{% static 'images/equipe_qualidade/antoniodaSilvaSobrinhoJunior.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Prof. Dr. Antônio da Silva Sobrinho Júnior</p>
                
            </div>
        </div>
        <div class="container">
                <img src="{% static 'images/equipe_qualidade/MarilliaGabriellaDuarteFialho.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Profª Dra. Marillia Gabriella Duarte Fialho</p>
                
            </div>
        </div>


    </div>





<!--Equipe de desenvolvimento -->
    <div class="team-container">

        <p class="team">Equipe Desenvolvedora</p>
        <div class="line"></div>
    </div>
    <div class="wrapper-flex">

        <div class="container">
            <a href="https://www.linkedin.com/in/paulo-rodrigues-b9522390/">
                <img src="{% static 'images/desenvolvedores/paulorodrigues.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Paulo Henrique Rodrigues Sousa</p>
                <p class="description ">Gerente de Projeto</p>
                <p class="description course">SPI - P3</p>
            </div>
        </div>
        <div class="container">
            <a href="https://www.linkedin.com/in/lukasdsf/">
                <img src="{% static 'images/desenvolvedores/lukas.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Lukas de Sousa Figueiredo</p>
                <p class="description ">Desenvolvedor front-end</p>
                <p class="description course">CC - P3</p>
            </div>
        </div>
        <div class="container">
            <a href="https://www.linkedin.com/in/juan-alencar/">
                <img src="{% static 'images/desenvolvedores/juan.png' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Juan Diego Medeiros Alencar</p>
                <p class="description ">Desenvolvedor front-end</p>
                <p class="description course">CC - P2</p>
            </div>
        </div>
        <div class="container">
            <a href="https://www.linkedin.com/in/marcos-otavio-novais-a550a0217">
                <img src="{% static 'images/desenvolvedores/marcos.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Marcos Otávio Novais Antunes de Melo </p>
                <p class="description ">Desenvolvedor back-end</p>
                <p class="description course">CC - P1</p>
            </div>
        </div>
        <div class="container">
            <a href="https://www.linkedin.com/in/laissbarreto/">
                <img src="{% static 'images/desenvolvedores/lais.jpeg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Laís de Sousa Barreto</p>
                <p class="description ">Desenvolvedora front-end</p>
                <p class="description course">ADS - P3</p>
            </div>
        </div>
        <div class="container">
            <a href="https://www.linkedin.com/in/alexandre-faustino-222642207/">
                <img src="{% static 'images/desenvolvedores/alexandre.jpg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Alexandre Faustino </p>
                <p class="description ">Desenvolvedor front-end</p>
                <p class="description course">ADS - P1</p>
            </div>
        </div>
        
        <div class="container">
            <a href="https://www.linkedin.com/in/walace-sartori-bonfim/">
                <img src="{% static 'images/desenvolvedores/wallace.jpeg' %}" alt="" class="responsive-img">
            </a>
            <div class="description-container ">
                <p class="name ">Walace Sartori Bonfim</p>
                <p class="description ">Techleader</p>
            </div>
        </div>


    </div>

    <!--Footer-->
    <footer>
        <div class="footer-container">
            <div class="sec quickLinks">
                <h2>Parceiros</h2>
                <ul class="patrocinador-lista">
                    <li><a href="https://wa.me/558331333473" target="_blank"><img class="patrocinador-img" src="{% static 'images/patrocinadores/hemocentro.png' %}" alt="Logo da Hemocentro: Educação pela Saúde"></a></li>

                    <li><a href="https://instagram.com/atelierdocebia?utm_medium=copy_link" target="_blank"><img class="patrocinador-img" src="{% static 'images/patrocinadores/atelier-doce-bia.png'%}" alt="Logo do Patrocinador Atelier Doce Bia"></a></li>

                    <li><a href="https://api.whatsapp.com/send?phone=5583998280859&text=Oi%2C%20vim%20pela%20Sapiens!" target="_blank"><img class="patrocinador-img" src="{% static 'images/patrocinadores/bichos-e-caprichos.png' %}" alt="Logo do Patrocinador Bichos e Caprichos"></a></li>


                    <li><a href="https://wa.me/message/M6TRUVSLVS76B1" target="_blank"><img class="patrocinador-img" src="{% static 'images/patrocinadores/livraria-do-luiz.png' %}" alt="Logo do Patrocinador Livraria do Luiz"></a></li>

                    <li><a href="https://api.whatsapp.com/send?phone=5583986201300" target="_blank"><img class="patrocinador-img" src="{% static 'images/patrocinadores/oticassantory.png' %}" alt="Logo do Patrocinador Ótica Santory"></a></li>

                    <li><a href="http://www.saobraz.com.br/" target="_blank"><img class="patrocinador-img" src="{% static 'images/patrocinadores/saobraz.png' %}" alt="Logo do Patrocinador São Braz"></a></li>

                    <li><a href="https://api.whatsapp.com/send?phone=5583988782279&text=Oi%20vim%20pela%20Sapiens!" target="_blank"><img class="patrocinador-img" src="{% static 'images/patrocinadores/wz-informatica.png'%}" alt="Logo do Patrocinador WZ Informática"></a></li>

                    <li><a href="https://api.whatsapp.com/message/IWINW2MNSKU3H1?src=qr" target="_blank"><img class="patrocinador-img" src="{% static 'images/patrocinadores/controle-med.png'%}" alt="Logo do Patrocinador Controle Med Lab"></a></li>

                    <li><a href="https://www.instagram.com/diporte_/" target="_blank"><img class="patrocinador-img" src="{% static 'images/patrocinadores/diporte.png'%}" alt="Logo do Patrocinador Diporte"></a></li>

                    <li><a href="https://instagram.com/drtnt?utm_medium=copy_link" target="_blank"><img class="patrocinador-img" src="{% static 'images/patrocinadores/dr-tnt.png'%}" alt="Logo do Patrocinador Dr. TNT"></a></li>

                    <li><a href="https://www.instagram.com/saudemedica/" target="_blank"><img class="patrocinador-img" src="{% static 'images/patrocinadores/saude-medica.png'%}" alt="Logo do Patrocinador Saúde Médica"></a></li>
                </ul>
            </div>
            <div class="bigPatrocinador-div">
                <a href="https://instagram.com/ferrazemaul?utm_medium=copy_link" target="_blank"><img class="bigPatrocinador" src="{% static 'images/patrocinadores/ferraz-e-maul-assessoria.png' %}" alt="Logo do Patrocinador Ferraz e Maul"></a>
                <a href="http://somoslema.com.br/" target="_blank"><img class="bigPatrocinador" src="{% static 'images/patrocinadores/lema-engenharia.png' %}" alt="Logo do Patrocinador Lema Engenharia"></a>
            </div>

            <div class="sec contact">
                <h2>Informações para Contato</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span>Rodovia BR-230,KM 22, S/N - Água Fria, João Pessoa</span>
                    </li>
                    <ul class="contato">
                        <li>
                            <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <p><a href="mailto:sapiens10anos@unipe.edu.br">sapiens10anos@unipe.edu.br</a></p>
                        </li>

                        <li>
                            <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
                            <p><a href="https://wa.me/message/44GXA6IAP4MOL1" target="_blank">Whatsapp</a></p>
                        </li>

                        <ul class="sci">
                            <li><a href="https://www.facebook.com/unipeoficial" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/unipeoficial" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/unipeoficial/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.youtube.com/user/UnipeOficial" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </ul>
                </ul>
            </div>
        </div>
    </footer>
    <div class="copyrightText ">
        <p>© 2021 Todos os direitos reservados.</p>
    </div>
</body>
<script src="{% static 'js/header.js' %} "></script>

</html>